.ext__dragable_main_container{
    width: 150px;
    height: 80px;
    max-height: 80px;
    background-color: rgb(219, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000000;
    cursor: all-scroll;
}

.timer_area{
        color: #231e1e;
        padding: 0px;
        font-size: 20px;            
}
.icon_image{
    height: 50px;
    width: 51px;
    margin-right: 13px;
}